<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ===== PERMISOS BLUETOOTH ===== -->
    <!-- Android 12+ (API 31+): permisos granulares -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!-- Si fueras a anunciar/beacon: -->
    <!-- <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" /> -->

    <!-- Compatibilidad con Android <= 11 (API 30-) -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30"/>
    <!-- Para escaneo clásico/BLE en <= 11 se requiere ubicación -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:maxSdkVersion="30"/>

    <!-- No obligamos a que el dispositivo tenga BT (app sigue instalando) -->
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>

    <application
        android:label="smart_home_bcp"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- No borrar: registro autom. de plugins -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Visibilidad de paquetes (requerido por algunos plugins del engine) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- (Opcional) Solicitar habilitar BT -->
        <intent>
            <action android:name="android.bluetooth.adapter.action.REQUEST_ENABLE"/>
        </intent>
    </queries>
</manifest>